version: "3.8"
services:
  #api:
  #  build: .
  #  ports:
  #    - "1337:1337"
  #  restart: always
  db:
    image: "postgres:15"
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    volumes:
          - ./init.sql:/docker-entrypoint-initdb.d/init.sql  

  adminer:
    image: adminer
    restart: always
    ports:
      - 4242:8080
volumes:
  db:
    driver: local
